.checkout{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 100px;
  & > button{
    border: none;
    background: #FFC85E;
    border-radius: 79px;
    font-family: 'Inter',serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 21px 38px 21px 38px;
    text-align: center;
  }
  & > p {
    font-family: 'Inter',serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    color: #111111;
  }
}
.cards{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  & > div{
    border-bottom: 1px dashed rgba(63, 78, 101, 0.3);
  }
  & > div:first-child{
    border-top: 1px dashed rgba(63, 78, 101, 0.3);
  }
}