.line {
  height: 30px;
  width: 1px;
  border-right: 1px dashed #dadde1;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;

  & > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #3F4E65;
    & > img {
      margin-right: 6px;
    }
  }
}