@import "../../Styles/varibels.module";


.main{
  font-family: 'Inter',serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
  color: #111111;
  @media only screen and (min-width: 0px) and (max-width: $mobile) {
    & {
      font-family: 'Inter',serif;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 120%;
      text-transform: uppercase;
      color: #111111;
    }
  }
}