.main{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-family: 'Inter',serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 130%;
  color: #111111;
}