.main{
  position: relative;
}
.overlay {
  overflow: hidden;
  z-index: 100;
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}