.main {
  position: relative;
}

.menu {
  z-index: 99;
  position: absolute;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .05);
  width: 100%;

  & > div {
    padding: 9px 20px 9px 40px;

    &.selected {
      background-color: gray;
      &:hover {
        cursor: default;
        background-color: gray;
      }
    }

    &:hover {
      background: lightgrey;
      cursor: pointer;
    }
  }
}

.button {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #111111;

  & > span {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #3F4E65;
  }

  &:hover {
    cursor: pointer;
  }
}