.main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  & > input {
    background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
    border-radius: 1000px;
    font-family: 'Inter',serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #3F4E65;
    border: none;
    width: 100px;
    padding: 4px 0 4px 0;
    box-sizing: border-box;
  }
  & > span {
    font-family: 'Inter',serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #3F4E65;
  }
}
