.main{
  padding-top: 100px;
  & > span:first-child{
    font-family: 'Inter',serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFC85E;
  }
  & > span:last-child{
    font-family: 'Inter',serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 120%;
    text-transform: uppercase;
  }
}
