.navigate {
  margin-top: 45px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;

  &__item {
    max-height: 17px;
    display: flex;
    align-items: center;

    &_disabled {
      color: #3F4E65;
      opacity: 0.5;

      &:hover {
        cursor: default
      }
    }

    & > a {
      font-family: 'Inter', serif;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 120%;
      color: #3F4E65;
      text-decoration: none;
    }
  }

  &__item:not(:first-child) {
    padding-left: 10px;
  }

  &__item:not(:last-child) {
    border-right: 1px dashed #3F4E65;
    padding-right: 10px;
  }
}