@import "../../Styles/varibels.module";

.catalogGroup {
  display: grid;
  grid-template-columns: 238px 1fr;
  grid-column-gap: 108px;
  @media only screen and (min-width: 0px) and (max-width: $tablet) {
    & {
      grid-template-columns: 1fr;
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 21px;
  grid-row-gap: 21px;

  &__description {
    margin-bottom: 50px;
  }

  @media only screen and (min-width: 1050px) and (max-width: 1407px) {
    & {
      grid-template-columns: 1fr 1fr;

      & > div {
        justify-self: center;
      }
    }
  }
  @media only screen and (min-width: 0px) and (max-width: 1050px) {
    & {
      grid-template-columns: 1fr;

      & > div {
        justify-self: center;
      }
    }
  }
}

.typeCards {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 25px;
  @media only screen and (min-width: 0px) and (max-width: $tablet) {
    & {
      justify-content: center;
    }
  }
  @media only screen and (min-width: 0px) and (max-width: $mobile) {
    & {
      margin: 0;
      width: 100%;
      display: flex;
      justify-content: flex-start;
    }
  }
}

.filterPanel {
  @media only screen and (min-width: $mobile) and (max-width: $tablet) {
    & {
      width: 320px;
      justify-self: center;
    }
  }
  @media only screen and (min-width: 0px) and (max-width: $mobile) {
    & {
      width: 100%;
      justify-self: center;
    }
  }

  &__itemTypeCare {
    @media only screen and (min-width: 0px) and (max-width: $mobile) {
      & {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
      }
    }
  }
}





