.main{
  margin-top: 20px;
  margin-bottom: 20px;
}
.title{
  display: flex;
  align-items: center;
  font-family: 'Inter',serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #111111;
  user-select: none;
  margin-bottom: 15px;
  &:hover {
    cursor: pointer;
  }
  & > img{
  margin-left: 5px;
}
}